*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: url(../img/geometry2.png);
  /* Background pattern from Subtle Patterns */ }

body {
  font-family: 'Coda', cursive;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 300; }

.card {
  width: 12.5rem;
  height: 12.5rem;
  background-color: #2e3d49;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  cursor: pointer; }
  .card > .fa {
    color: white;
    font-size: 3.5rem;
    display: none; }
  .card__open {
    background-color: #02b3e4; }
    .card__open > .fa {
      display: block; }
  .card__close {
    background-color: #2e3d49; }
    .card__close > .fa {
      display: none; }
  .card__match {
    background-color: #02ccba; }
    .card__match > .fa {
      display: block; }
  .card__wrong {
    background-color: #aa2b80; }
    .card__wrong > .fa {
      display: block; }

.section-deck {
  display: flex;
  justify-content: center; }
  .section-deck__grid {
    display: grid;
    grid-template-rows: repeat(4, minmax(12.5rem, min-content));
    grid-template-columns: repeat(4, minmax(12.5rem, min-content));
    grid-gap: 4rem;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 4rem 4rem;
    background-color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #02ccba, #aa7ecd); }
