@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px; }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px; }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px; }
  75% {
    background-color: green;
    left: 0px;
    top: 200px; }
  100% {
    background-color: red;
    left: 0px;
    top: 0px; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: url(../img/geometry2.png);
  /* Background pattern from Subtle Patterns */ }

body {
  font-family: 'Coda', cursive;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 300; }

.card {
  width: 12.5rem;
  height: 12.5rem;
  background-color: #2e3d49;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); }
  .card > .fa {
    color: white;
    font-size: 3.5rem; }

.section-deck {
  display: flex;
  justify-content: center; }
  .section-deck__grid {
    display: grid;
    grid-template-rows: repeat(4, minmax(12.5rem, min-content));
    grid-template-columns: repeat(4, minmax(12.5rem, min-content));
    grid-gap: 4rem;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 4rem 4rem;
    background-color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #02ccba, #aa7ecd); }
