*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: url(../img/geometry2.png);
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive; }
