//FONT COLOR
$color-white: #fff;
$color-black: #000;

$color-primary: #02ccba;
$color-secondary: #aa7ecd;

$color-open: #02b3e4;
$color-match: #02ccba;
$color-grey-dark: #2e3d49;
$color-wrong: #aa2b80;

//SHADOW
$shadow-dark: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
